<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap.min.css">
</head>
<body>
<div class="modal fade" id="change-password-modal" tabindex="-1" role="dialog"
     aria-labelledby="change-password-label" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="change-password-label">Change Password</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="password-current">Current Password :</label>
                        <input type="password" class="form-control" id="password-current"
                               placeholder="Current Password">
                    </div>
                    <div class="form-group">
                        <label for="password-new">New Password :</label>
                        <input type="password" class="form-control" id="password-new"
                               placeholder="New Password">
                    </div>
                    <div class="form-group">
                        <label for="password-new-repeat">Verify Password :</label>
                        <input type="password" class="form-control" id="password-new-repeat"
                               placeholder="Verify Password">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary px-4" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary px-3" id="password-save-button">Save</button>
            </div>
        </div>
    </div>
</div>

<script src="../assets/js/bootstrap/bootstrap.js"></script>
</body>
</html>