<html>
<head>
    <link rel="stylesheet" type="text/css" href="../assets/css/base_style.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/bootstrap/bootstrap.min.css">
</head>
<body>
<div class="row mx-2 justify-content-end" id="table-pagination-button">
    <div class="col-lg-2 col-md-3 col-xs-4 text-right">
        <p>Page : <label id="current-page">1</label> / <label id="total-page">1</label></p>
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4 px-1">
        <button type="button" class="btn btn-primary col-lg-12" id="table-prev-page-button">Previous</button>
    </div>
    <div class="col-lg-2 col-md-3 col-xs-4 px-1">
        <button type="button" class="btn btn-primary col-lg-12" id="table-next-page-button">Next</button>
    </div>

    <!--<nav aria-label="Page navigation example">-->
    <!--<ul class="pagination">-->
    <!--&lt;!&ndash;<li class="page-item"><a class="page-link" href="#">First</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="page-item" id="table-prev-page-button"><a class="page-link" href="#">Prev</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="page-item" id="table-next-page-button"><a class="page-link" href="#">Next</a></li>&ndash;&gt;-->
    <!--&lt;!&ndash;<li class="page-item"><a class="page-link" href="#">Last</a></li>&ndash;&gt;-->
    <!--</ul>-->
    <!--</nav>-->
</div>
<script src="../assets/js/bootstrap/bootstrap.js"></script>
<script>

</script>
</body>
</html>