html
{
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
    min-height: 100%;
	display: flex;
}

.container-fluid{
    min-height: 100%;
	margin: 0 auto;
}

#left-nav{
	min-height: 100%;
}

#page-row{
    height: 100%;
	width: 100%;
	margin:0;
}

.nav-link
{
	cursor: pointer;
}

.nav-link a:hover{
	color: #17a2b8;
}

.navbar-brand:hover{
	box-shadow: 5px;
}

.navbar-brand:hover{
	opacity: 0.8;
}